.home-page {
  &__inner {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
  }

  &__banner {
    margin-bottom: -156px;
  }

  &__chart {
    margin: 70px 0 78px;
  }

  &__tables {
    display: flex;
    margin-bottom: 100px;
  }

  &__table {
    flex: 1;
    margin-right: 20px;
    width: 50%;

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 1000px) {
    &__tables {
      flex-direction: column;
      margin-bottom: 40px;
    }

    &__table {
      margin: 0 0 60px;
      width: 100%;
    }

    &__chart {
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 500px) {
    &__inner {
      padding: 0 16px;
    }

    &__chart {
      margin-bottom: 60px;
    }
  }
}