@import "@assets/scss/variables";

.header {
  background: $back-color-light;

  &__inner {
    display: flex;
    padding: 16px 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }

  &__nav {
    flex: 1;
  }
}
