.signup-page {
  &__form {
    max-width: 400px;
    margin: 0 auto;
  }

  &__row {
    margin-bottom: 8px;
    display: flex;

    .rs-input-group.rs-input-group-inside .rs-input-group-btn {
      padding: 0 8px;
    }
  }
}
